.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  /* min-height: 500px; */
  margin: 10px;
}

.preview-image-class {
  max-width: 300px;
}

.div-title {
  margin-bottom: 40px;
}

.form-div-class {
  display: block;
  padding: 20px;
  background-color: rgb(255, 195, 82);
  margin: 10px;
  width: 300px;
  height: 400px;
}

.page-preview-div-class {
  overflow: auto;
  display: block;
  /* padding-bottom: 30px; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  /* background-color: white; */
  border: 5px solid #71c9f1;
  width: 450px;
  height: 300px;
  word-wrap: break-word;
  margin: 10px;
}

.code-preview-div-class {
  overflow: auto;
  display: block;
  padding: 20px;
  background-color: black;
  color: rgb(0, 209, 0);
  margin: 10px;
  width: 300px;
  height: 300px;
  word-wrap: break-word;
  text-align: left;
}

.navbar-container {
  background-color: pink;
  padding: 20px;
  margin: 10px;
}

.navbar-text {
  margin: 50px;
}

.form-class {
  display: block;
  margin: 20px;
  padding: 10px;
}

.form-item-class {
  margin: 10px;
}

.saved-pages-class {
  display: inline-block;
  overflow: auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border: 5px solid #71c9f1;
  width: 450px;
  height: 300px;
  word-wrap: break-word;
  margin: 10px;
}

/* Page Preview Styling */

.dark {
  background-color: black;
  width: 450px;
  height: 300px;
  padding: 0px;
}







